@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
  background-color: #e5e5e5;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 0;
}

html {
  scrollbar-width: none;
}
