@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
  background-color: rgb(179, 172, 172);
  height: max-content;
}
::-webkit-scrollbar {
  width: 0;
}

html {
  scrollbar-width: none;
}
